{% extends 'base.html' %}

{% block title %}Services{% endblock %}

{% block content %}
<!-- Services Section -->
<section class="services-section my-5">
    <div class="container">
        <h1 class="text-center mb-5">Nos Services</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Service 1 -->
            <div class="col">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Création de sites web</h5>
                        <p class="card-text">Nous concevons des sites vitrines : Création de sites pour présenter les activités,
                             produits ou services d’une entreprise.
                        </p>
                        <p class="card-text">Nous concevons également des sites e-commerce : Développement de boutiques en ligne avec des 
                            fonctionnalités telles que le catalogue de produits, le paiement en ligne, et la gestion des commandes.
                       </p>
                       <p class="card-text"> Et ebfin nous concevons des sites web personnalisés : Conception sur mesure pour répondre 
                        à des besoins spécifiques (plateformes communautaires, portails d’information, etc.).
                        </p>
                    </div>
                </div>
            </div>
            <!-- Service 2 -->
            <div class="col">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Administration réseaux & systèmes</h5>
                        <p class="card-text">
                            Grâce à notre expertise en réseau et télécommunications, nous proposons des services de
                            Conception et déploiement de réseaux : Mise en place de réseaux LAN, WAN, VLAN, et Wi-Fi sécurisés.
                        </p>
                        <p class="card-text">
                            Nous proposons également des services de Configuration et 
                            gestion des équipements réseau : Routeurs, commutateurs, points d'accès, firewalls.
                        </p>
                        <p class="card-text">
                             Et sous proposons enfin des Installations et configurations de serveurs : 
                             Windows, Linux, et autres systèmes d'exploitation serveur.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Service 3 -->
            <div class="col">
                <div class="card shadow h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Maintenance informatique</h5>
                        <p class="card-text">Nous offrons des services de maintenance informatique d'inspection régulière
                             des équipements : Vérification des composants matériels (disques durs, alimentations, ventilateurs, etc.)
                              pour prévenir les pannes.
                        </p>
                        <p class="card-text">Nous assurons des mises à jour logicielles : Application des correctifs de sécurité et
                             des mises à jour des systèmes d’exploitation, logiciels et antivirus.
                       </p>
                       <p class="card-text">Nous assurons également optimisation des performances : Nettoyage 
                        des fichiers temporaires, défragmentation des disques et gestion des ressources pour maximiser l'efficacité.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
